<component name="ArtifactManager">
  <artifact type="war" name="spring-clazz:war">
    <output-path>$PROJECT_DIR$/spring-clazz/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>spring-clazz</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringBoot-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-clazz:war exploded" />
    </root>
  </artifact>
</component>